@mixin horizontal_menu($hor_padding, $vert_padding){
  margin: 0;
  list-style-type: none;
  // text-align: center;
  padding-top: $vert_padding;
  padding-bottom: $vert_padding;
  padding-left: 0px;
  padding-right: 0px;
  
  li{
    display: inline; 
    padding-left: $hor_padding;
    padding-right: $hor_padding;      
  }
  
  li:first-child{
    padding-left: 0px;
  }
  
  li:last-child{
    padding-right: 0px;
  }
}

@mixin border_radius($rad){
  -webkit-border-radius: $rad;
  -moz-border-radius: $rad;
  border-radius: $rad;
}
 
@mixin rotate($deg){
      -webkit-transform: rotate($deg);
    -moz-transform: rotate($deg);
    -o-transform: rotate($deg);
    -ms-transform: rotate($deg);
    transform: rotate($deg);
} 

@mixin prevent_text_select{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;  
}
