<script>
	function facebookLogin(){	
		FB.login(function(response) {
			if (response.authResponse) {
				<%= success_method %>;		
			} else {
     			<%= fail_method %>;
	    	}
		}, {scope: '<%= j scope %>'});
	}	
</script>

<div class="form-group">
	<button id="login_with_facebook" class="btn btn-primary">Login with Facebook</button>
</div>

<script>
	$(window).load(function(){
		$('#login_with_facebook').click(function(){
			facebookLogin();
		});
	});
</script>